Repository c4deszes/ldfparser, pull requests merged in 2020-11, with the labels that each got.

#17 Use recommended comment regex by lark
  ldfparser/comment.lark
  ldfparser/ldf.lark
  requirements.txt
  setup.py
Labels: bug

#27 Schedule table command parsing into dictionary
  .github/workflows/build.yml
  ldfparser/ldf.lark
  ldfparser/parser.py
  tests/ldf/lin21.ldf
  tests/ldf/lin22.ldf
Labels: bug, ldf/scheduling, parser

#29 Adds more node attributes in the parsed LDF
  ldfparser/lin.py
  ldfparser/node.py
  ldfparser/parser.py
  tests/ldf/lin13.ldf
  tests/ldf/lin21.ldf
  tests/ldf/lin22.ldf
  tests/test_parser.py
Labels: enhancement, ldf/nodes, ldf/signals, parser, priority:normal

#30 Development branch for 0.6.0
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  examples/communication.py
  examples/ldf2json.py
  examples/read_comments.py
  ldfparser/__init__.py
  ldfparser/comment.py
  ldfparser/encoding.py
  ldfparser/ldf.lark
  ldfparser/lin.py
  ldfparser/node.py
  ldfparser/parser.py
  pytest.ini
  requirements.txt
  setup.py
  tests/ldf/lin13.ldf
  tests/ldf/lin21.ldf
  tests/ldf/lin22.ldf
  tests/ldf/no_signal_subscribers.ldf
  tests/snapshot_data.py
  tests/test_comment.py
  tests/test_encoding.py
  tests/test_frame.py
  tests/test_json.py
  tests/test_parser.py
  tests/test_signal.py
Labels: bug, ci, enhancement, ldf/frames, ldf/nodes, ldf/scheduling, ldf/signals, parser
